:root {
    --main-color: #EAC4D5;
    --background: #151515;
    --font-color: white;
    --main-width: 1024px;
    --side-width: 300px;
    --page-width: calc(var(--main-width) + 2 * var(--side-width));
}

body {
    color: var(--font-color);
    font-family: "Noto Sans Mono CJK TC", "monospace";
    font-size: 16px;
    background-color: var(--background);
    max-width: var(--page-width);
    margin: auto;
}

main {
    max-width: var(--main-width);
    padding: 20px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
}

.center {
    text-align: center;
}

.title {
    font-size: 2.5em;
}

.topnav {
    display: block;
    height: 30px;
    margin: 15px;
}

.topnav ul {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav ul li {
    display: inline;
    float: left;
    padding-right: 15px;
}

.topnav .icon {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .topnav ul {
        display: none;
    }
    .topnav .icon {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive ul {
        float: none;
        display: flex;
        text-align: left;
        align-items: center;
        flex-direction: column;
        background-color: var(--background);
    }
}
article {
    line-height: 1.5;
    word-spacing: -2px;
    text-align: justify;
}

footer {
    text-align: center;
}

aside {
    margin: 0;
    padding: 0;
    width: var(--side-width);
    position: static;
    height: 100%;
}

input:checked ~ aside {
    margin-left: -300px;
}

@media screen and (max-width: 1624px) {
    aside {
        /* position: sticky; */
    }
}

.title-img {
    display: block;
    height: 200px;
    width: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

article img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}