<header>
    <nav class="topnav" id="myTopnav">
        {{ with .Site.Params.icon }}
        <a href="{{ "/" | relURL }}"><img class="nav-logo" src="{{ . }}" /></a>
        {{ else }}
        <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
        {{ end }}
        {{ with .Site.Menus.main }}
        <ul>
            {{ range . }}
            <li><a href="{{ .URL | relURL }}" {{ if .Params.newTab }}target="blank"{{ end }}>{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
        <a href="javascript:void(0);" class="icon" onclick="openNav()">＋</a>
    </nav>
</header>
